body {
  margin: 0;
  font-family: "Sora", sans-serif;
}
.container {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(90, 92, 106, 1) 0%,
    rgba(32, 45, 58, 1) 81.3%
  );
  box-sizing: border-box;
}

.header {
  background-color: #000000;
  padding: 20px 10px;
  /* background-image: url(images/cyklista.png); */
  border-bottom: #3c3c3c 50px solid;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  height: 327px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.content-text {
  text-align: center;
  margin-top: auto;
}
.content-text h1 {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(171, 102, 255, 1) 0%,
    rgba(116, 182, 247, 1) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo {
  display: flex;
  justify-content: center;
}
.logoimg {
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 5px 30px rgb(255 255 255 / 20%);
}
.bike {
  width: 75px;
  position: absolute;
  transition: 5s;
  animation: ride 20s infinite;
  top: 218px;
}

@keyframes ride {
  0% {
    left: -10%;
  }

  100% {
    left: 110%;
  }
}

.stats {
  margin-top: 24px;
}
.stats_card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgb(0 0 0 / 100%);
  overflow: hidden;
  width: 220px;
  height: 190px;
  background-image: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);

  margin: 25px;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1%;
  align-content: center;
  transition: 0.2s;
}
.stats_card:hover {
  width: 230px;
  height: 200px;
  box-shadow: 0 5px 30px rgb(255 255 255 / 100%);
}
.stats_card img {
  width: 110px;
  height: 110px;
}
.card_text h1 {
  font-size: 20px;
}
.card_text #easy {
  color: green;
}
.card_text #medium {
  color: orange;
}
.card_text #hard {
  color: darkred;
}
footer {
  text-align: right;
  padding: 3px;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-top: 178px;
}
.content_card {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  padding: 0.8%;
  border-radius: 20px;
  box-shadow: 0 5px 30px rgb(0 0 0);
  margin: 50px;
  overflow: hidden;
  display: flex;
  width: 700px;
  height: fit-content;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: center;
}
.card_photo {
  float: right;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.map {
  border-radius: 15px;
  border: gray 2px inset;
  width: 300px;
  height: 200px;
  animation-name: expand;
  transition: 0.5s;
}

.map:hover {
  width: 400px;
  height: 300px;
}
.photo {
  border: white 1px solid;
  transition: 0.2s;
}
.photo:hover {
  width: 450px;
  height: 350px;
}
.photo:active {
  width: 850px;
  height: 750px;
}
.photos {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  height: 69%;
  align-items: flex-end;
}
.gallery {
  display: flex;
  align-items: center;
  margin-top: -73px;
}
.photos::-webkit-scrollbar {
  width: 10px;
}

.photos::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.photos::-webkit-scrollbar-thumb {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(171, 102, 255, 1) 0%,
    rgba(116, 182, 247, 1) 90%
  );
  border-radius: 40px;
}

.photos::-webkit-scrollbar-button {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0 5px 30px rgb(0 0 0 / 100%);
  z-index: 1;
  padding: 30px;
  text-decoration: none;
  font-size: 26px;
  line-height: 25px;
  border-radius: 10px;
  background-color: rgb(58, 58, 58);
  color: rgb(255, 255, 255);
  margin: 0px 1px;
  width: 20%;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.description {
  font-size: 18px;
  font-style: oblique;
}
.title {
  font-size: 30px;
  text-align: center;
}
.href {
  text-decoration: none;
  color: darkblue;
  font-style: italic;
}
/* SUIIIII */
@font-face {
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/varelaround/v19/w8gdH283Tvk__Lua32TysjIfp8uK.ttf)
    format("truetype");
}

:root {
  --accent-color: #45494e;
  --gradient-color: #fbfbfb;
}
a:focus {
  outline: none;
  position: relative;
}
a:focus:after {
  width: 50px;
}
a:after {
  content: "";
  background: #fbfbfb;
  position: absolute;
  bottom: 5px;
  left: 15px;
  height: 3px;
  width: 0;
  transition: 0.5s;
  transition-delay: 0.2s;
}
body {
  background: #45494e;
  font-family: "Varela Round", Nunito, Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}
.menu {
  margin: 15px;
}
.menu > ol {
  list-style: none;
  margin: 30px 0;
  padding: 0;
}
.menu > ol > li {
  background: #3c3c3c;
  border-left: 5px solid var(--gradient-color);
  margin-bottom: 1px;
  position: relative;
  transition: 0.5s;
}
.menu > ol > li:nth-child(1) {
  --accent-color: #fda085;
  --gradient-color: #f6d365;
}
.menu > ol > li:nth-child(2) {
  --accent-color: #bff098;
  --gradient-color: #6fd6ff;
}
.menu > ol > li:nth-child(3) {
  --accent-color: #ea8d8d;
  --gradient-color: #a890fe;
}
.menu > ol > li:nth-child(4) {
  --accent-color: #d8b5ff;
  --gradient-color: #1eae98;
}
.menu > ol > li:nth-child(5) {
  --accent-color: #c6ea8d;
  --gradient-color: #fe90af;
}
.menu > ol > li a {
  color: #fbfbfb;
  display: block;
  padding: 15px;
  position: relative;
  text-decoration: none;
  z-index: 1;
}
.menu > ol > li a:not(:last-child):before {
  content: "▲";
  font-family: fontAwesome;
  font-size: 0.75em;
  line-height: 50px;
  position: absolute;
  right: 25px;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 0.5s;
}
.menu > ol > li:focus,
.menu > ol > li:focus-within,
.menu > ol > li:hover {
  z-index: 100;
}
.menu > ol > li:focus:after,
.menu > ol > li:focus-within:after,
.menu > ol > li:hover:after {
  background: linear-gradient(
    to left,
    var(--accent-color),
    var(--gradient-color)
  );
  max-width: 800px;
}
.menu > ol > li:focus .sub-menu,
.menu > ol > li:focus-within .sub-menu {
  max-height: 500px;
}
.menu > ol > li:focus a:before,
.menu > ol > li:focus-within a:before {
  transform: rotate(-180deg);
}
.menu > ol > li:after {
  background: #3c3c3c;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.5s;
  max-width: 0;
  overflow: hidden;
}
.menu > ol .sub-menu {
  border-left: 1px solid #fbfbfb;
  margin-left: 22.5px;
  list-style: none;
  max-height: 0px;
  overflow: hidden;
  padding-left: 7.5px;
  position: relative;
  transition: 0.5s;
  z-index: 1;
}
.menu > ol .sub-menu li {
  font-size: 0.9em;
}
.menu > ol .sub-menu li:hover,
.menu > ol .sub-menu li a:focus {
  background: rgba(60, 60, 60, 0.3);
}
.menu > ol .sub-menu li a:after {
  bottom: 5px;
  height: 1px;
}
.menu > ol .sub-menu li a:hover:after,
.menu > ol .sub-menu li a:focus:after {
  width: 15px;
}
@media (min-width: 600px) {
  a:focus,
  a:hover {
    position: relative;
  }
  a:focus:after,
  a:hover:after {
    width: 50px;
  }
  a:after {
    left: 0;
    right: 0;
    margin: auto;
  }
  .menu {
    margin: 0;
  }
  .menu > ol {
    display: block;
    max-width: none;
    text-align: center;
  }
  .menu > ol > li {
    border-top: 5px solid var(--accent-color);
    border-left: 0;
    display: inline-block;
    margin-left: -5px;
    vertical-align: top;
    width: 120px;
  }
  .menu > ol > li:hover:after,
  .menu > ol > li:focus:after,
  .menu > ol > li:focus-within:after {
    background: linear-gradient(
      to bottom,
      var(--accent-color),
      var(--gradient-color)
    );
    border-radius: 3px;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
  }
  .menu > ol > li:hover .sub-menu,
  .menu > ol > li:focus .sub-menu,
  .menu > ol > li:focus-within .sub-menu {
    max-height: 750px;
  }
  .menu > ol > li a:not(:last-child):before {
    right: 12.5px;
  }
  .menu > ol > li:hover a:before {
    transform: rotate(-180deg);
  }
  .menu > ol .sub-menu {
    border-left: 0;
    margin: 15px -15px -15px;
    padding-left: 0;
  }
}
@media (min-width: 775px) {
  .menu > ol > li {
    width: 250px;
  }
  .menu > ol > li a:not(:last-child):before {
    right: 25px;
  }
}
/* animated logo */
.logoimg {
  --angle: 0deg;

  border: 0.5px solid;
  border-image: conic-gradient(
      from var(--angle),
      red,
      yellow,
      lime,
      aqua,
      blue,
      magenta,
      red
    )
    1;

  animation: 10s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
